@use "./colors";
@use "./fonts";

.react-calendar {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 32px;

  // Calendar navigation
  .react-calendar__navigation {
    display: flex;
    flex-direction: column;
    margin: 30px 0 30px 10px;

    button {
      color: colors.$black;
      width: 1.5rem;
    }

    // The arrow buttons
    .react-calendar__navigation__arrow {
      transform: rotate(90deg);
      height: 1.5rem;
      font-size: 1.5rem;
    }

    // The month and year label
    .react-calendar__navigation__label {
      transform: rotate(-90deg);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      left: -8px;

      span {
        white-space: nowrap;
      }
    }
  }

  // Calendar view
  .react-calendar__viewContainer {
    flex-grow: 1;
    height: 100%;
    margin: 10px;

    .react-calendar__month-view {
      height: 100%;

      > div:first-child {
        height: 100%;
        align-items: stretch !important;

        .react-calendar__month-view__weekdays {
          height: 24px;
          border-bottom: 1px solid colors.$black;
          @extend %base-text;

          div abbr {
            text-decoration: none;
            position: relative;
            top: -6px;
            left: 20px;
          }
        }

        .react-calendar__month-view__days {
          height: calc(100% - 32px);
          display: grid !important;
          grid-template-columns: repeat(7, 1fr);
          justify-content: space-between;

          button {
            cursor: default;

            abbr {
              position: relative;
              top: 12px;
              left: 20px;
            }
          }

          .react-calendar__tile {
            display: flex;
            font-family: "Borel", serif;
            color: colors.$black;
          }

          .react-calendar__tile:not(:nth-child(7n)) {
            border-right: 1px solid colors.$light-grey;
          }

          .react-calendar__month-view__days__day--neighboringMonth {
            color: colors.$light-grey;
          }
        }
      }
    }
  }
}
