@use "./colors";
@use "./fonts";

.emotion__container_page {
  .reset_button {
    position: absolute;
    top: 32px;
    left: 32px;
    color: colors.$orange;
    cursor: pointer;
    text-decoration: underline;
    background-color: #00000040;
    padding: 8px 16px;
    border-radius: 6px;
    backdrop-filter: blur(4px);

    &:hover {
      text-decoration: none;
    }
  }
}

.emotion__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  :global(.pannable) {
    width: calc(75vw + 46px);
    margin: 12px 24px;
    background-color: colors.$cream;
    border-radius: 12px;
    cursor: default;
  }

  .emotion__list {
    width: 75vw;
    height: calc(100vh - 300px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;

    button {
      margin: 36px;
      font-family: "Borel", serif;
      font-size: 1.2rem;
      letter-spacing: 0;
      color: colors.$black;
      text-transform: capitalize;
      text-align: center;
      cursor: pointer;
      position: relative;
      display: inline-block;

      .emotion_tooltip {
        @extend %base-text;
        visibility: hidden;
        z-index: 999;
        background-color: colors.$cream;
        padding: 4px 2px;
        position: absolute;
        border-radius: 6px;
        top: 32px;
        width: 160px;
        left: -40px;
      }

      &:hover {
        text-decoration: underline;

        .emotion_tooltip {
          visibility: visible;
        }
      }
    }

    .disabled {
      color: colors.$grey;
      cursor: not-allowed;
    }
  }
}

h2.title {
  @extend %base-text;
  color: colors.$cream;
  margin-bottom: 24px;
  text-align: center;
}

.filter_options_container {
  position: relative;
  z-index: 10;
}
