@use "./colors";

.onboarding__container {
  width: 40%;
  max-width: 800px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;

  .description {
    span {
      color: colors.$orange;
    }
  }

  button {
    text-decoration: underline;
    font-size: 1rem;
    color: colors.$black;

    &:hover {
      text-decoration: none;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 40px;
  color: colors.$grey;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  position: absolute;
  bottom: 16px;
  gap: 48px;

  .desktopMessage {
    display: block;

    @media (min-width: 820px) and (min-height: 700px) {
      display: none;
    }
  }

  p:last-child {
    text-align: right;
  }
}

.onboarding {
  position: relative;

  .doodle {
    position: absolute;
  }
}

.heart {
  left: -24rem;
  top: -4rem;
}

.butterfly {
  right: -24rem;
  top: -6rem;
}

.flower {
  left: -28rem;
  bottom: -14rem;
}

.cupcake {
  right: -26rem;
  bottom: -12rem;
}
