@use "./colors";
@use "./fonts";

.sketchpad__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: #000000c6;
  display: flex;
  justify-content: center;
  align-items: center;

  .sketchpad__close {
    position: absolute;
    top: 4rem;
    right: 4rem;
    font-family: "Borel", serif;
    font-size: 2.4rem;
    color: #fff;
    cursor: pointer;
  }

  .sketchpad__content {
    display: flex;
    gap: 42px;
    height: 340px;

    .sketchpad__tools {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100px;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        @extend %base-text;
        color: colors.$cream;
        font-weight: 200;

        button {
          width: 64px;
          height: 64px;
          background-color: colors.$cream;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 48px;
            height: 48px;
          }
        }

        button:last-child {
          background: none;
          border: 3px solid colors.$orange;
        }

        .active {
          background-color: colors.$cream !important;
        }
      }
    }

    .sketchpad__note {
      position: relative;
      width: 360px;

      canvas:first-child {
        box-shadow: -6px 6px rgba(0, 0, 0, 0.2);
        position: absolute;
      }
    }

    .sketchpad__save {
      @extend %base-text;
      position: relative;
      left: 290px;
      top: 300px;
      cursor: pointer;
      color: colors.$black;
      background-color: colors.$cream;
      padding: 4px 8px;
      border-radius: 2px;

      &:hover {
        color: #000000;
        background-color: colors.$white;
      }
    }
  }
}

.delete__confirmation {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: colors.$cream;
  z-index: 5;
  padding: 36px 48px;
  border-radius: 12px;
  width: 360px;

  h2 {
    color: colors.$orange;
  }

  p {
    @extend %base-text;
    color: colors.$black;
  }

  .delete__buttons {
    width: 100%;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;

    button {
      text-decoration: underline;
      color: colors.$black;
    }
  }

  .delete__buttons button:first-child {
    color: colors.$orange;
  }

  button:hover {
    text-decoration: none;
  }
}

.delete__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000c6;
  z-index: 4;
}

.emotion__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    @extend %base-text;
    color: colors.$cream;
    margin-bottom: 24px;
  }

  :global(.pannable) {
    width: calc(75vw + 46px);
    margin: 12px 24px;
    background-color: colors.$cream;
    border-radius: 12px;
    cursor: default;
  }

  .emotion__list {
    width: 75vw;
    height: calc(100vh - 300px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;

    button {
      margin: 36px;
      font-family: "Borel", serif;
      font-size: 1.2rem;
      letter-spacing: 0;
      color: colors.$black;
      text-transform: capitalize;
      text-align: center;
      cursor: pointer;
      position: relative;
      display: inline-block;

      .emotion_tooltip {
        @extend %base-text;
        visibility: hidden;
        z-index: 999;
        background-color: colors.$cream;
        padding: 4px 2px;
        position: absolute;
        border-radius: 6px;
        top: 32px;
        width: 160px;
        left: -40px;
      }

      &:hover {
        text-decoration: underline;

        .emotion_tooltip {
          visibility: visible;
        }
      }
    }

    .disabled {
      color: colors.$grey;
      cursor: not-allowed;
    }
  }
}
