@use "./colors";
@use "./fonts";

.sketchpad__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: #000000c6;
  display: flex;
  justify-content: center;
  align-items: center;
  .sketchpad__close {
    position: absolute;
    top: 4rem;
    right: 4rem;
    font-family: "Borel", serif;
    font-size: 2.4rem;
    color: #fff;
    cursor: pointer;
  }

  .sketchpad {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .sketchpad__content {
      display: flex;
      gap: 42px;
      height: 340px;

      .sketchpad__tools {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100px;

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 4px;
          @extend %base-text;
          color: colors.$cream;
          font-weight: 200;

          button {
            width: 64px;
            height: 64px;
            background-color: colors.$cream;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 48px;
              height: 48px;
            }
          }

          button:last-child {
            background: none;
            border: 3px solid colors.$orange;
          }

          .active {
            background-color: colors.$cream !important;
          }
        }
      }

      .sketchpad__note {
        position: relative;
        width: 360px;

        canvas:first-child {
          box-shadow: -6px 6px rgba(0, 0, 0, 0.2);
          position: absolute;
        }

        .save {
          @extend %key-text;
          font-size: 1.2rem;
          z-index: 5;
          position: relative;
          top: 100%;
          left: calc(100% - 9rem);
          text-align: right;
          margin: 20px 0;
          color: colors.$cream;
        }
      }

      .sketchpad__save {
        @extend %base-text;
        position: relative;
        left: 290px;
        top: 300px;
        cursor: pointer;
        color: colors.$black;
        background-color: colors.$cream;
        padding: 4px 8px;
        border-radius: 2px;

        &:hover {
          color: #000000;
          background-color: colors.$white;
        }
      }
    }
  }
}

h2.title {
  @extend %base-text;
  color: colors.$cream;
  margin-bottom: 24px;
  text-align: center;
}

.calendar__overlay {
  position: absolute;
  padding: 12px;
  bottom: 20px;
  left: 212px;
  width: 520px;
  height: 360px;
  background-color: #fcf8ee;
  z-index: 100;
  border-radius: 8px;
  box-shadow: -2px 2px 4px #00000004;
}

.sketchpad__timeline {
  width: 100vw;
  background-color: colors.$cream;
  z-index: 6;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 160px;
  display: flex;

  .title {
    @extend %base-text;
    color: colors.$black;
    text-align: center;
    position: relative;
    z-index: 7;
    height: 20px;
    margin-top: 12px;

    span {
      position: relative;
      top: -4px;
      text-decoration: underline;
      cursor: pointer;
    }

    button {
      padding: 16px 20px;
    }
  }

  .timeline__container {
    flex-grow: 1;
    margin: 24px 0;

    .timeline__hours {
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 6;
      font-size: 0.9rem;
      margin: 0 24px;
    }

    .timeline__notes {
      position: relative;
      z-index: 6;
      margin-top: 6px;

      .timeline__note {
        position: absolute;
        transform: translateX(-50%);
        border-radius: 4px;

        img {
          box-shadow: -2px 2px rgba(0, 0, 0, 0.1);
          width: 80px;
          height: 80px;
          border-radius: 4px;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }
}
