@use "./colors";

.colors__tab {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .colors__title {
    transform: rotate(-90deg);
  }

  .active {
    color: colors.$black;
  }
}

.supplies__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;

  .notes__row {
    display: flex;
    gap: 0px;
    width: 100%;
    height: 100%;

    .note {
      background-color: aqua;
      transform: rotate(-0.4deg);
      width: 100%;
      height: 100%;
      box-shadow: -3px 4px rgba(0, 0, 0, 0.06);
      cursor: pointer;
    }
  }
}
