@use "./colors";
@use "./fonts";

.colors__tab {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .colors__title {
    transform: rotate(-90deg);
  }

  .active {
    color: colors.$black;
  }
}

.colors__container {
  h2.title {
    @extend %base-text;
    color: colors.$orange;
    font-weight: 600;
    text-wrap: nowrap;
  }

  .all_colors {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    .notes__row {
      display: flex;
      gap: 0px;
      width: 100%;
      height: 100%;

      .note {
        transform: rotate(-0.4deg);
        width: 100%;
        height: 100%;
        box-shadow: -3px 4px rgba(0, 0, 0, 0.06);
        cursor: pointer;
      }
    }
  }
}

.colors__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
  gap: 12px;
  padding: 20px;
}
